@import '@styles/theme.module.scss';
.root {
    border-radius: 20px;
    border: 1px solid #e1e1e1;
    text-align: center;
    justify-content: center;
    line-height: 2em;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 7.5em;
    height: 2em;
    cursor: pointer;
}

.root:hover {
    border: 1px solid #ff8516;
}

.selected {
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    line-height: 2em;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 7.5em;
    height: 2em;
    border: 0px;
    color: white;
    background-color: #ff8516;
    cursor: pointer;
}
